<app-page-header [breadcrumbItems]="breadcrumbItems" [showButton]="false" [showDatePicker]="false"
                 class="w-full h-fit" pageTitle="Call Recordings"/>

<p-confirmDialog/>
<p-toast/>
<div class="flex flex-col">
  <div class="card flex justify-content-center">
    <p-fileUpload #callUpload (onClear)="onCancel()" (onSelect)="onSelectFilesToUpload($event)" (uploadHandler)="handleBeforeUpload($event)"
                  [customUpload]="true"
                  [multiple]="true" accept=".mp3,.wav" name="myfile[]"
                  url="https://www.primefaces.org/cdn/api/upload.php">
      <ng-template pTemplate="toolbar">
        <div class="py-3">Upload {{ selectedFilesCount }} Files</div>
      </ng-template>
      <ng-template let-file let-i="index" pTemplate="file">
        <h5>{{ file.name }}</h5>
        <div class="grid p-fluid">
          <p-inputGroup [class]="isSubmitted && !descriptionList[i] ? 'mb-2':'mb-5'">
            <input [(ngModel)]="descriptionList[i]" [class]="isSubmitted && !descriptionList[i] ? 'ng-invalid ng-dirty':''" pInputText
                   placeholder="Description*" required type="text">
            <p-inputGroupAddon>
              <i class="pi pi-book"></i>
            </p-inputGroupAddon>
          </p-inputGroup>
          <p [style.display]="isSubmitted && !descriptionList[i] ? '':'none'" class="text-red-500 mt-0">Please enter
            description.</p>
          <p-dropdown [(ngModel)]="operatorsList[i]"
                      [class]="isSubmitted && !operatorsList[i] ? 'ng-invalid ng-dirty mb-2':'mb-5'"
                      [options]="callOperators" optionLabel="name" optionValue="operator_id"
                      placeholder="Select a call operator*"></p-dropdown>
          <p [style.display]="isSubmitted && !operatorsList[i] ? '':'none'" class="text-red-500 mt-0">Please select an
            operator.</p>
          <p-calendar [(ngModel)]="dateList[i]" [maxDate]="maxDate" [showIcon]="true" [showTime]="true"
                      placeholder="Date"></p-calendar>
        </div>
      </ng-template>

      <ng-template let-files pTemplate="content">
        <div *ngIf="selectedFilesCount == 0">
          <p>Select Files To Upload</p>
        </div>
      </ng-template>
    </p-fileUpload>
  </div>
</div>

<p-dialog [(visible)]="visible" [modal]="true" [style]="{ maxWidth: '550px', minWidth: '400px' }"
          header="Upload Success">
  <p>
    {{ uploadFeedbackMsg }}
  </p>
  <ng-template pTemplate="footer">
    <p-button (click)="visible = false" label="Ok"/>
  </ng-template>
</p-dialog>
