<app-page-header [breadcrumbItems]="breadcrumbItems" class="w-full h-fit" pageTitle="Call Analytics Settings"/>
<div class="flex flex-col">
  <div>
    <p-toast></p-toast>
    <p-panel>
      <div class="flex flex-col">
        <form (ngSubmit)="onSubmit()" [formGroup]="notificationsSettingsForm">
          <div class="flex gap-20 px-10">
            <div class="w-1/2">
              <p-divider align="left" type="solid">
                <b>Sentiment Shift Configuration</b>
              </p-divider>
              <div class="flex align-items-center gap-1 text-sm justify-between mb-3">
                <p-checkbox (onChange)="onChangeBelowScore($event)" [binary]="true"
                            [readonly]="getIsDisabled()" formControlName="bellowNotify"
                            label="Notify me when the sentiment score is below the value: "
                            name="notify"></p-checkbox>
                <p-inputNumber [max]="10" [min]="-10"
                               [readonly]="getIsDisabled()"
                               [showButtons]="true" class="short-input" formControlName="bellowScore"
                               inputId="minmax-buttons" mode="decimal">
                </p-inputNumber>
              </div>
              <div class="flex align-items-center gap-1 text-sm justify-between mb-10">
                <p-checkbox (onChange)="onChangeAboveScore($event)" [binary]="true" [readonly]="getIsDisabled()"
                            formControlName="aboveNotify"
                            label="Notify when the sentiment score is above: "
                            name="notify"></p-checkbox>
                <p-inputNumber [max]="10" [min]="-10"
                               [readonly]="getIsDisabled()"
                               [showButtons]="true" class="short-input" formControlName="aboveScore" inputId="minmax-buttons"
                               mode="decimal"></p-inputNumber>
              </div>

              <p-divider align="left" type="solid">
                <b>Keywords Configuration</b>
              </p-divider>

              <div class="flex items-center justify-between ">
                <p>Enable Keywords Notifications</p>
                <p-inputSwitch [readonly]="getIsDisabled()" formControlName="enableKeywordsNotification"/>
              </div>

              <div class="w-full p-fluid">
                <p>Special Keywords To Send Notifications</p>
                <p-chips [disabled]="!notificationsSettingsForm.get('enableKeywordsNotification')?.value || getIsDisabled()"
                         [ngClass]="{'readonly-look': !notificationsSettingsForm.get('enableKeywordsNotification')?.value || getIsDisabled()}"
                         formControlName="keywords"></p-chips>
              </div>

            </div>
            <div class="w-1/2">
              <p-divider align="left" type="solid">
                <b>Topics Configuration</b>
              </p-divider>

              <div class="w-full p-fluid mb-10">
                <p>Topics to categorize calls</p>
                <p-chips [disabled]="getIsDisabled()" [ngClass]="{'readonly-look': getIsDisabled()}"
                         formControlName="topics"/>
              </div>

              <p-divider align="left" type="solid">
                <b>Notification Channels Configuration</b>
              </p-divider>

              <div class="flex items-center justify-between ">
                <p>Send Push Notifications</p>
                <p-inputSwitch [readonly]="getIsDisabled()" formControlName="enablePushNotification"/>
              </div>
              <div class="flex items-center justify-between ">
                <p>Send Email Notifications</p>
                <p-inputSwitch [readonly]="getIsDisabled()" formControlName="enableEmailNotification"/>
              </div>
              <div class="w-full p-fluid mb-5">
                <p>Email Notifications Receivers</p>
                <p-chips [disabled]="!notificationsSettingsForm.get('enableEmailNotification')?.value || getIsDisabled()"
                         [ngClass]="{'readonly-look': !notificationsSettingsForm.get('enableKeywordsNotification')?.value || getIsDisabled()}"
                         formControlName="emails"/>
              </div>
            </div>
          </div>
          @if (isAbleToEdit) {
            <div class="flex justify-end px-10 py-5">
              <p-button label="Update Settings" [loading]="loading" (onClick)="onSubmit()" pAutoFocus></p-button>
            </div>
          }
        </form>
      </div>
    </p-panel>
  </div>
</div>
