<p-toast></p-toast>
<p-panel class="flex flex-col text-center justify-center mb-4">

  <div [style.display]="noData ? 'block' : 'none'" class="flex justify-between items-center px-3 mb-5">
    <img src="./assets/call/noresult.png">
  </div>

  <div [style.display]="isError ? 'block' : 'none'" class="flex justify-between items-center px-3 mb-5">
    <img src="./assets/img/500.jpg" style="width: 60%;">
    <p class="text-4xl">Internal Server Error</p>
    <p>{{ userMessages.FETCH_ERROR_USER_MSG }}</p>
  </div>

  <div *ngIf="isLoading" class="flex flex-col text-center justify-center mb-4 pt-10 px-10">
    <ul class="m-0 p-0 list-none">
      <li class="mb-3">
        <div class="flex">
          <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
          <div style="flex: 1">
            <p-skeleton styleClass="mb-2" width="100%"></p-skeleton>
            <p-skeleton width="75%"></p-skeleton>
          </div>
        </div>
      </li>
      <li class="mb-3">
        <div class="flex">
          <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
          <div style="flex: 1">
            <p-skeleton styleClass="mb-2" width="100%"></p-skeleton>
            <p-skeleton width="75%"></p-skeleton>
          </div>
        </div>
      </li>
      <li class="mb-3">
        <div class="flex">
          <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
          <div style="flex: 1">
            <p-skeleton styleClass="mb-2" width="100%"></p-skeleton>
            <p-skeleton width="75%"></p-skeleton>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div *ngFor="let call of callRecordings" [style.display]="isLoading ? 'none':''"
       class="flex justify-between items-center px-3 mb-5">
    <div class="flex justify-between" style="width:60%;">
      <div class="flex items-center gap-8">
        <img height="25" src="./assets/call/phone.png" width="25">
        <div class="flex flex-col justify-start">
          <p class="mb-0 mt-0 text-start">{{ call.description }}</p>
          <p class="mb-0 mt-0 text-gray-500 w-fit text-xs">{{ call.date }}</p>
        </div>
      </div>
      <p-tag [style]="{'background': statusColors[call.sentiment], 'width': '65px'}" value="{{call.sentiment}}"></p-tag>
    </div>
    <div class="flex gap-3">
      <p-button (click)="showDialogSummary(call)" [outlined]="true" icon="pi pi-bars" severity="success"
                size="small"></p-button>
      <p-button (click)="showDialogPlay(call)" [outlined]="true" icon="pi pi-play" size="small"
      ></p-button>
      @if (isAbleToDelete) {
        <p-button icon="pi pi-trash" (click)="showDialogConfirmation(call)" severity="danger" size="small"
                  [outlined]="true"></p-button>
      }
    </div>
  </div>
</p-panel>

<p-dialog *ngIf="visibleSummary" [(visible)]="visibleSummary" [draggable]="false" [modal]="true" [resizable]="false"
          [style]="{width: '30vw', height: 'auto'}" header="Call Details">
  <div class="flex justify-between items-center px-3 mb-5">
    <!-- Use selectedCall only when it is defined -->
    <div *ngIf="selectedCall" class="flex items-center gap-8">
      <img height="25" src="./assets/call/phone.png" width="25">
      <div class="flex flex-col justify-start">
        <p class="mb-0 mt-0 text-start">{{ selectedCall.description }}</p>
        <p class="mb-0 mt-0 text-gray-500 w-fit text-xs">{{ selectedCall.date }}</p>
      </div>
    </div>
    <div>
      <!-- Use call.status since selectedCall is not in the ngFor context -->
      <p-tag [style]="{'background': statusColors[selectedCall.sentiment], 'width': '65px'}"
             value="{{ selectedCall.sentiment }}"></p-tag>
    </div>
  </div>
  <hr>
  <h5>Call Summary</h5>
  <p style="text-align: justify;"> {{ selectedCallSummary }} </p>
  <hr>
  <h5>Call Topics</h5>
  <p style="text-align: justify;"> {{ selectedCall.topics }} </p>
  <hr>
  <h5>Call Keywords</h5>
  <div class="keywords-container">
    <div *ngFor="let keyword of selectedCall.keywords" class="keyword">
      <p-tag [style]="{'background': statusColors[keyword.trim()],  'padding': '5px 10px', 'white-space': 'nowrap'}"
             value="{{ keyword.trim() }}"></p-tag>
    </div>
    <br><br><br>
  </div>
  <div class="text-right">
    <p-button (click)="visibleSummary = false" icon="pi pi-times" label="Close"></p-button>
  </div>
</p-dialog>

<p-dialog *ngIf="visiblePlay" [(visible)]="visiblePlay" [draggable]="false" [modal]="true"
          [resizable]="false" [style]="{width: '30vw', height: 'auto'}" header="Play Call Recording">
  <div class="flex justify-between items-center px-3 mb-5 play">
    <!-- Use selectedCall only when it is defined -->
    <div *ngIf="selectedCall" class="flex items-center gap-8">
      <img height="25" src="./assets/call/phone-record.png" width="25">
      <div class="flex flex-col justify-start">
        <p class="mb-0 mt-0 title">{{ selectedCall.description }}</p>
        <p class="mb-0 mt-0 text-gray-500 w-fit text-xs date">{{ selectedCall.date }}</p>
      </div>
    </div>
    <div>
      <!-- Play Button -->
      <i (click)="playAudio(selectedCall.callUrl)" *ngIf="selectedCall" class="pi pi-play" style="color: wheat"></i>
      <!-- Pause Button -->
      <i (click)="pauseAudio()" class="pi pi-pause" style="color: wheat"></i>
      <!-- Resume Button -->
      <!--      <i class="pi pi-play" style="color: wheat" (click)="resumeAudio()" *ngIf="audioPosition !== null"></i>-->
      <!-- Volume Up Button -->
      <i (click)="increaseVolume()" class="pi pi-volume-up" style="color: wheat"></i>
    </div>
    <!-- Timeline Indicator -->

  </div>
  <div class="timeline-container">
    <progress [max]="selectedCall.callUrl" [value]="currentTime" class="timeline"></progress>
  </div>
  <p class="font-medium text-lg text-start">Transcript</p>
  <p style="text-align: justify;"> {{ selectedCall.transcription }} </p>
  <div class="text-right">
    <p-button (click)="visiblePlay = false" icon="pi pi-times" label="Close"></p-button>
  </div>
</p-dialog>

<p-dialog *ngIf="visibleConfirmation" [(visible)]="visibleConfirmation" [draggable]="false" [modal]="true" [resizable]="false"
          [style]="{width: '30vw', height: 'auto'}" header="Confirmation">
  <p style="text-align: justify;">
    Are you sure you want to Delete this Call Recording?
  </p>
  <div class="text-right">
    <p-button (click)="visibleConfirmation = false" label="No"></p-button>
    <p-button (click)="onConfirmDelete(selectedCall.id)" label="Yes" styleClass="p-button-danger"></p-button>
  </div>
</p-dialog>
