<p-panel *ngIf="!isLoading" class="flex flex-col w-[260px] mb-4">
  <div class="flex justify-between w-full px-7" style="border-bottom: #e1e1e1 solid 1px;">
    <img class="self-center w-[40px] h-[40px]" src="./assets/call/blue-phone.png"/>
    <div class="mt-1">
      <p class="font-bold text-2xl mt-1 mb-1">{{ totalCalls }}</p>
      <p class="text-sm text-gray-500 font-medium">Total Calls</p>
    </div>
  </div>
  <div class="flex justify-between w-full px-7" style="border-bottom: #e1e1e1 solid 1px;">
    <img class="self-center w-[40px] h-[40px]" src="./assets/call/green-call.png"/>
    <div class="mt-1">
      <p class="font-bold text-2xl mt-1 mb-1">{{ avgCallTime }}</p>
      <p class="text-sm text-gray-500 font-medium">Avg. Call Time</p>
    </div>
  </div>
  <div class="flex justify-between w-full px-7" style="border-bottom: #e1e1e1 solid 1px;">
    <img class="self-center w-[40px] h-[40px]" src="./assets/call/blue-call.png"/>
    <div class="mt-1">
      <p class="font-bold text-2xl mt-1 mb-1">{{ totalCallDuration }}</p>
      <p class="text-sm text-gray-500 font-medium">Total Duration</p>
    </div>
  </div>
  <div class="flex justify-between w-full px-7">
    <img class="self-center w-[40px] h-[40px]" src="./assets/call/review.png"/>
    <div class="mt-1 mb-1">
      <p class="font-bold text-2xl mt-1 mb-1">{{ avgSentimentScore }}</p>
      <p class="text-sm text-gray-500 font-medium my-0">Avg. Sentiment</p>
      <p class="text-sm text-gray-500 font-medium my-0">Score</p>
    </div>
  </div>
</p-panel>
<p-panel *ngIf="isLoading" class="flex w-[260px] mb-4">
  <p-skeleton height="90px" width="240px"/>
</p-panel>
