<p-panel class="flex flex-col text-center justify-center mb-4">

  <div class="flex gap-8 space-between">

    <!--Calendar-->
    <div>
      <p class="left-align-label">Date Range:</p>
      <div class="card flex justify-content-center">
        <p-calendar (ngModelChange)="cleanDate()" [(ngModel)]="rangeDates" [readonlyInput]="true" [showButtonBar]="true"
                    [showIcon]="true" selectionMode="range"></p-calendar>

      </div>
    </div>

    <!--Dropdown-->
    <div>
      <p class="left-align-label">Topic:</p>
      <div class="card flex justify-content-center">
        <p-multiSelect [(ngModel)]="selectedTopic" [options]="topics"
                       display="chip" placeholder="Select Topics">
        </p-multiSelect>
      </div>
    </div>


    <!-- <p-dropdown [options]="topic" [(ngModel)]="selectedTopic" optionLabel="name" [showClear]="true"
                placeholder="Topic"></p-dropdown> -->

    <!--Keyword-->
    <div>
      <p class="left-align-label">Keyword:</p>
      <div class="card flex justify-content-center">
        <input [(ngModel)]="keyword" id="keyword" pInputText placeholder="Keyword" type="text"/>
      </div>
      <p class="left-align-label" style="font-size: 13px;">Enter keywords separated by a comma</p>
    </div>

    <!--Sentiment Category-->
    <div>
      <p class="left-align-label">Sentiment Category:</p>
      <div class="card flex justify-content-center">
        <p-multiSelect [(ngModel)]="selectedSentiCatg" [options]="sentiCatg" display="chip"
                       optionLabel="name" placeholder="Sentiment Category">
        </p-multiSelect>
      </div>
    </div>
  </div>
  <br><br>

  <!--Slider-->
  <div class="w-100 flex justify-between">

    <div class="flex flex-row justify-between items-center gap-6">
      <p>Call Duration:</p>
      <div class="card slider-container">
        <p-slider [(ngModel)]="duration" [max]="60"></p-slider>
      </div>
      <p>{{ duration }} mins</p>
    </div>
    <div class="card flex justify-center gap-3">
      <p-button (click)="applyFeatures()" label="Apply Filter"></p-button>
      <p-button (click)="clearFields()" [outlined]="true" label="Clear Filters" severity="clsFilter"></p-button>
    </div>
  </div>
  <br><br>
  <p-divider></p-divider>
  <app-call-filtering-result [callRecordings]="callFiltering" [filteredDuration]="duration" [filteredEndDate]="end_date"
                             [filteredKeywords]="keywords"
                             [filteredSentimentCategory]="sentimentCatg" [filteredStartDate]="start_date"
                             [filteredTopics]="topics" [resultMessage]="noResultsMessage"
                             [visible]="visibility"></app-call-filtering-result>
</p-panel>
